---
layout: default
---
<div id="post">
	<h2 class="tk-museo"><a href="{{ page.url }}">
		{{ page.title }}
	</a></h2>
	<div id="date">added {{ page.date | date_to_string }}</div>
	{{ content }}
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/travisjgithub/embed.js"></script><noscript><a href="http://disqus.com/forums/travisjgithub/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
